body {
    height: 100vh;
    width: 100 vw;
    margin: 0;
    background-color: black;
}

h1 {
    color: white;
    text-align: center;

}

#game-board {

    /* Picking a green reminscent of the old nokia phone screen color */
    background-color: #65ab00;

    /* If I wanted the game to take up the entire page: 
    vmin ensures a square shape that's as large as possible 
    to fill the entire screen, based on the size of the screen */
    /* width: 100vmin; */
    /* height: 100vmin;  */
    
    /* But if I can figure it out- I want the game to appear inside of a large Nokia phone */
    width: 500px;
    height: 500px;
    
    /* This sets up the grid, rows and columns all the same size*/
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);

}

/* Styling the snake element */
.snake {
    background-color: darkslategrey;
    /* The border around the snake element scales with the size of the page */
    border: .25vmin;
    border-color: black;
    width: 500 px;
    height: 500 px;
}

/* Styling the snake element */
.food {
    background-color: orangered;

    /* The border around the food element scales with the size of the page */
    border: .25vmin;
    border-color: black;
}

