body {
    height: 100vh;
    width: 100vw;
    margin: 10px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gameboard {
    /* Picking a green reminscent of the old nokia phone screen color */
    background-color: #A8C64E;
    /* makes gameboard edges curved, more like a phone */
    border-radius: 5%;
    /* IF i can figure it out- I want the game to appear inside of a large Nokia phone */
    width: 60vmin;
    height: 60vmin;

    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);
    margin:0px;
}

/* The divs inside the game board */
#gameboard>div {
    border: black;
    border: 1px;
    /* border: dotted; */
    display: flex;
}

/* Styling the snake element */
.snake {
    flex-grow: 1;
    border: 1px;
    border:#1f0a0e;
    border:solid;
    border-radius: 20%;
}

/* Styling the snake element */
.food {
    flex-grow: 1;
    width: 90%;
    height: 90%;
    /* background-color: #565656; */
    border-radius: 20%;
}


.heading {
    color:rgba(225,245,225,0.9);
    text-align: center;
    font-size: 100 px;

}

.scoreDisplay {
    color: #c7f0d8;
    text-align: center;
    font-size: 75px;
}

.button {
    background: blueviolet;
    text-align: center;
}

.begin {
    background: #183693;
    text-align: center;
}


.popup {
    background: red;
    text-align: center;
}


    
  

