body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gameboard {

    /* Picking a green reminscent of the old nokia phone screen color */
    background-color: #A8C64E;
    /* makes gameboard edges curved, more like a phone */
    border-radius: 5%;

    /* If I wanted the game to take up the entire page: 
    vmin ensures a square shape that's as large as possible 
    to fill the entire screen, based on the size of the screen */
    /* width: 100vmin; */
    /* height: 100vmin;  */

    /* IF i can figure it out- I want the game to appear inside of a large Nokia phone */
    width: 500px;
    height: 500px;

    /* This sets up the grid, rows and columns all the same size*/
    /*For now- I'm going to set it to 12 x 12*/
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);
}

/* The divs inside the game board */
#gameboard>div {
    border: black;
    border: 1px;
    border: dotted;
}

/* Styling the snake element */
.snake {
    background-color: #565656;
    width: 500 px;
    height: 500 px;
    border-radius: 20%;
}

/* Styling the snake element */
.food {
    background-color: orangered;

    /* The border around the food element scales with the size of the page */
    /* border: .25vmin; */
    border-color: black;
    border-radius: 50%;;
}


h1 {
    color: white;
    text-align: center;
}

.scoreDisplay {
    color: white;
    text-align: center;
    font-size: 20px;
}

.button {
    background: blueviolet;
    text-align: center;
}

.begin {
    background: #183693;
    text-align: center;
}


.popup {
    background: red;
    text-align: center;
}

/* EVERYTHING BELOW IS A CODE PEN that I just played around with for the Snake Header */

@font-face {
    font-family: retrogamer;
    src: url("https://db.onlinewebfonts.com/t/4c19fc875e7ba1e6831129de3ab5ac0b.woff2") format("woff2");
  }
  
  * {
    box-sizing: border-box;
  }
  body {
    background: repeating-linear-gradient(
      to left,
      #0e0a1f,
      #1f0a0e 3px,
      lighten(#0c1e0a, 8%) 5px,
      lighten(#0c1e0a, 6%) 3px
    );
    background-size: 150% 150%;
    overflow: hidden;
    animation: flicker-2 8s linear alternate infinite;
  }
  
  .container {
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(-50%, -50%);
    top: 10%;
    left: 18%;
  }
  
  .GamerWord {
    color: rgba(225,245,225,0.9);
    font-size: 8vw;
    letter-spacing: 5px;
    font-family: retrogamer;
    font-weight: 700;
    position:relative;
    text-shadow: -4px 0px #b31, 4px 0px #13b;
    animation: fuzz 5s ease alternate infinite, floater 10s linear alternate infinite;
  }
  
  @keyframes fuzz {
    0%, 100% {
      text-shadow: -4px 0px #b31, 4px 0px #13b;
    }
    66% {
      text-shadow: -7px 0px #b31, 7px 0px #13b;
    }
  }
  
  @keyframes floater {
    0%, 100% {
      transform: translate(0px, 0px);
    }
    25% {
      transform: translate(0px, 5px);
    }
    50% {
      transform: translate(-5px, -3px);
    }
    75% {
      transform: translate(3px, 0px);
    }
  }
  
  .scanlines {
    overflow: hidden;
    mix-blend-mode: difference;
  }
  .scanlines::before {
    content: "";
    position: absolute;
    width: 150%;
    height: 150%;
    top: -70px;
    left: 0;
    background: repeating-linear-gradient(
      to bottom,
      rgba(12,8,28,.6),
      rgba(12,8,28,.8) 3px,
      lighten(rgba(12,8,28,.7), 6%) 5px,
      lighten(rgba(12,8,28,.9), 6%) 3px
    );
    animation: flicker 5s ease alternate infinite;
  }
  
  @keyframes flicker {
    from {
      transform: translate(0px, 0px);
    } 
    to {
      transform: translate(0px, 4%);
    }
  }
  
  @keyframes flicker-2 {
    from {
      background-position: 80% 20%;
    } 
    to {
      background-position: 20% 80%;
    }
  }
